<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Motoristas do Posto</h1>
    <ul class="ul_list">
        {% if drivers %}
            {% for driver in drivers %}
                <div class="box_list">
                    <span class="icons_fuel_pump">
                        <i class="bi bi-fuel-pump"></i>
                    </span>
                    <li id="item_listView">{{ driver.name_driver }}</li>
                </div>
            {% endfor %}
        {% else %}
            <li class="item_listView">Nenhuma rede encontrada</li>
        {% endif %}
    </ul>
</body>
</html>
