<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Funciona??</h1>
    <ul class="ul_list">
        {% for gas_station_drivars in driver %}
        <div class="box_list">
          <span class="icons_fuel_pump">
            <i class="bi bi-fuel-pump"></i>
          </span>
          <li id="item_listView">{{ driver.name_driver }}</li>
        </div>
        {% empty %}
        <li class="item_listView">Nenhuma rede encontrada</li>
        {% endfor %}
    </ul>
</body>
</html>