<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Sobral Palacio</title>
  </head>
  <body>
    <nav id="navbar">
      <h1 id="title_navbar">Sobral Palacio</h1>
      <i class="bi bi-box-arrow-right"></i>
    </nav>

    <main>
      <span>Versão 7.2.2</span>
      <div>
        <span class="span_Icons">
          <i class="bi bi-person-circle"></i>
        </span>

        <span class="email_client">isaacspcombustiveis@gmail.com</span>
      </div>
      <div>
        <span class="span_Icons">
          <i class="bi bi-diagram-2"></i>
        </span>

        <label for="select_your_network"> <strong>Sua rede: </strong> </label>
        <select name="select_your_network" id="select_your_network">
          <option value="option1" disabled selected>Selecione uma rede</option>
          <option value="option1">Sobral &amp; Palacio</option>
          <option value="option2">option2</option>
          <option value="option3">option3</option>
          <option value="option4">option4</option>
          <option value="option5">option5</option>
        </select>
      </div>
      <div>
        <p>
          Os acessos abaixo são configurados a partir de uma conta principal.
          <br />
          Selecione o posto desejado e clique em "Acessar minha conta" para
          <br />
          visualizar os dados.
        </p>
      </div>
      <form class="form_listView">
        <ul>
            {% for client in clients %}
            <li>{{ client.fantasy_name_client }}</li>
            {% empty %}
                <li>Nenhuma rede encontrada</li>
            {% endfor %}
        </ul>
        <input id="form_acessar_conta" type="submit" value="Acessar minha conta">
      </form>
    </main>
  </body>
</html>
