<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Sobral Palacio</title>
  </head>
  <body>
    <div class="box_hidden"></div>
    <header id="header_menu">
      <h1 id="title_header">Sobral Palacio</h1>
      <nav id="navbar">
        <i class="bi bi-box-arrow-right"></i>
      </nav>
    </header>

    <main>
      <div class="box_version">
        <span class="version_App">Versão 7.2.2</span>
      </div>
      <div class="container_email_client">
        <span class="span_Icons">
          <i class="bi bi-person-circle"></i>
        </span>
        <span class="email_client">isaacspcombustiveis@gmail.com</span>
      </div>

      <div class="container_select_network">
        <span class="span_Icons">
          <i class="bi bi-diagram-2"></i>
        </span>

        <label id="label_select_menu" for="select_your_network"> <strong>Sua rede: </strong> </label>
        <select name="select_your_network" id="select_your_network">
          <option value="option1" disabled selected>Selecione uma rede</option>
          <option value="option1">Sobral &amp; Palacio</option>
          <option value="option2">option2</option>
          <option value="option3">option3</option>
          <option value="option4">option4</option>
          <option value="option5">option5</option>
        </select>
      </div>
      <div class="information_menu">
        <p>
          Os acessos abaixo são configurados a partir de uma conta principal.
          Selecione o posto desejado e clique em "Acessar minha conta" para
          visualizar os dados.
        </p>
      </div>
      <form class="form_listView">
        <ul class="ul_list">
            {% for client in clients %}
            <div class="box_list">
              <span class="icons_fuel_pump">
                <i class="bi bi-fuel-pump"></i>
              </span>
              <li id="item_listView">{{ client.fantasy_name_client }}</li>
              <li id="item_listView_code_client">{{ client.code_client }}</li>
            </div>
            {% empty %}
            <li class="item_listView">Nenhuma rede encontrada</li>
            {% endfor %}
        </ul>
        <input id="form_acessar_conta" type="submit" value="Acessar minha conta">
      </form>
    </main>
  </body>
</html>
